#scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  background-color: #2d3649;
  color: #d3bb91;
}

.branding img {
  width: 75px;
  aspect-ratio: 1 / 1;
}

.branding {
  display: flex;
}

.scores {
  display: flex;
  gap: 10px;
  padding: 20px;
}